-- ============================================================
-- SmugFlex POS - Complete Database Schema
-- Version: 1.0.0
-- MySQL 8.0+ / MariaDB 10.6+
-- ============================================================

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET AUTOCOMMIT = 0;
START TRANSACTION;
SET time_zone = "+00:00";
SET NAMES utf8mb4;
SET CHARACTER SET utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- ============================================================
-- ROLES & PERMISSIONS
-- ============================================================

DROP TABLE IF EXISTS `roles`; CREATE TABLE `roles` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(50) NOT NULL,
    `slug` VARCHAR(50) NOT NULL,
    `description` TEXT NULL,
    `is_system` TINYINT(1) NOT NULL DEFAULT 0,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_roles_slug` (`slug`)
) ENGINE=InnoDB;

DROP TABLE IF EXISTS `permissions`; CREATE TABLE `permissions` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(100) NOT NULL,
    `slug` VARCHAR(100) NOT NULL,
    `module` VARCHAR(50) NOT NULL,
    `description` TEXT NULL,
    `created_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_permissions_slug` (`slug`),
    KEY `idx_permissions_module` (`module`)
) ENGINE=InnoDB;

DROP TABLE IF EXISTS `role_permissions`; CREATE TABLE `role_permissions` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `role_id` INT UNSIGNED NOT NULL,
    `permission_id` INT UNSIGNED NOT NULL,
    `created_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_role_permission` (`role_id`, `permission_id`),
    FOREIGN KEY (`role_id`) REFERENCES `roles`(`id`) ON DELETE CASCADE,
    FOREIGN KEY (`permission_id`) REFERENCES `permissions`(`id`) ON DELETE CASCADE
) ENGINE=InnoDB;

-- ============================================================
-- BRANCHES & WAREHOUSES
-- ============================================================

DROP TABLE IF EXISTS `branches`; CREATE TABLE `branches` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(100) NOT NULL,
    `code` VARCHAR(20) NOT NULL,
    `address` TEXT NULL,
    `city` VARCHAR(100) NULL,
    `state` VARCHAR(100) NULL,
    `country` VARCHAR(100) NULL DEFAULT 'Nigeria',
    `phone` VARCHAR(20) NULL,
    `email` VARCHAR(100) NULL,
    `is_active` TINYINT(1) NOT NULL DEFAULT 1,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_branches_code` (`code`)
) ENGINE=InnoDB;

DROP TABLE IF EXISTS `warehouses`; CREATE TABLE `warehouses` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(100) NOT NULL,
    `code` VARCHAR(20) NOT NULL,
    `branch_id` INT UNSIGNED NULL,
    `address` TEXT NULL,
    `is_active` TINYINT(1) NOT NULL DEFAULT 1,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_warehouses_code` (`code`),
    FOREIGN KEY (`branch_id`) REFERENCES `branches`(`id`) ON DELETE SET NULL
) ENGINE=InnoDB;

-- ============================================================
-- USERS
-- ============================================================

DROP TABLE IF EXISTS `users`; CREATE TABLE `users` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `first_name` VARCHAR(50) NOT NULL,
    `last_name` VARCHAR(50) NOT NULL,
    `email` VARCHAR(100) NOT NULL,
    `password` VARCHAR(255) NOT NULL,
    `phone` VARCHAR(20) NULL,
    `avatar` VARCHAR(255) NULL,
    `role_id` INT UNSIGNED NOT NULL,
    `branch_id` INT UNSIGNED NULL,
    `warehouse_id` INT UNSIGNED NULL,
    `is_active` TINYINT(1) NOT NULL DEFAULT 1,
    `last_login_at` DATETIME NULL,
    `last_login_ip` VARCHAR(45) NULL,
    `remember_token` VARCHAR(255) NULL,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    `deleted_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_users_email` (`email`),
    FOREIGN KEY (`role_id`) REFERENCES `roles`(`id`),
    FOREIGN KEY (`branch_id`) REFERENCES `branches`(`id`) ON DELETE SET NULL,
    FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses`(`id`) ON DELETE SET NULL,
    KEY `idx_users_active` (`is_active`),
    KEY `idx_users_deleted` (`deleted_at`)
) ENGINE=InnoDB;

-- ============================================================
-- CATEGORIES (Nested Set)
-- ============================================================

DROP TABLE IF EXISTS `categories`; CREATE TABLE `categories` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(100) NOT NULL,
    `slug` VARCHAR(120) NOT NULL,
    `description` TEXT NULL,
    `parent_id` INT UNSIGNED NULL DEFAULT NULL,
    `image` VARCHAR(255) NULL,
    `sort_order` INT NOT NULL DEFAULT 0,
    `is_active` TINYINT(1) NOT NULL DEFAULT 1,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_categories_slug` (`slug`),
    FOREIGN KEY (`parent_id`) REFERENCES `categories`(`id`) ON DELETE SET NULL
) ENGINE=InnoDB;

-- ============================================================
-- BRANDS
-- ============================================================

DROP TABLE IF EXISTS `brands`; CREATE TABLE `brands` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(100) NOT NULL,
    `slug` VARCHAR(120) NOT NULL,
    `description` TEXT NULL,
    `logo` VARCHAR(255) NULL,
    `is_active` TINYINT(1) NOT NULL DEFAULT 1,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_brands_slug` (`slug`)
) ENGINE=InnoDB;

-- ============================================================
-- UNITS
-- ============================================================

DROP TABLE IF EXISTS `units`; CREATE TABLE `units` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(50) NOT NULL,
    `short_name` VARCHAR(20) NOT NULL,
    `base_unit_id` INT UNSIGNED NULL,
    `conversion_factor` DECIMAL(10,4) NOT NULL DEFAULT 1.0000,
    `is_active` TINYINT(1) NOT NULL DEFAULT 1,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_units_short` (`short_name`),
    FOREIGN KEY (`base_unit_id`) REFERENCES `units`(`id`) ON DELETE SET NULL
) ENGINE=InnoDB;

-- ============================================================
-- PRODUCTS
-- ============================================================

DROP TABLE IF EXISTS `products`; CREATE TABLE `products` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(200) NOT NULL,
    `slug` VARCHAR(220) NOT NULL,
    `sku` VARCHAR(50) NOT NULL,
    `barcode` VARCHAR(50) NULL,
    `description` TEXT NULL,
    `category_id` INT UNSIGNED NULL,
    `brand_id` INT UNSIGNED NULL,
    `unit_id` INT UNSIGNED NULL,
    `buying_price` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `selling_price` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `wholesale_price` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `minimum_price` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `tax_rate` DECIMAL(5,2) NOT NULL DEFAULT 0.00,
    `discount_rate` DECIMAL(5,2) NOT NULL DEFAULT 0.00,
    `minimum_stock` INT NOT NULL DEFAULT 0,
    `has_variants` TINYINT(1) NOT NULL DEFAULT 0,
    `has_serial` TINYINT(1) NOT NULL DEFAULT 0,
    `has_expiry` TINYINT(1) NOT NULL DEFAULT 0,
    `image` VARCHAR(255) NULL,
    `status` ENUM('active','inactive','discontinued') NOT NULL DEFAULT 'active',
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    `deleted_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_products_sku` (`sku`),
    UNIQUE KEY `uk_products_slug` (`slug`),
    KEY `idx_products_barcode` (`barcode`),
    KEY `idx_products_category` (`category_id`),
    KEY `idx_products_brand` (`brand_id`),
    KEY `idx_products_status` (`status`),
    KEY `idx_products_deleted` (`deleted_at`),
    FOREIGN KEY (`category_id`) REFERENCES `categories`(`id`) ON DELETE SET NULL,
    FOREIGN KEY (`brand_id`) REFERENCES `brands`(`id`) ON DELETE SET NULL,
    FOREIGN KEY (`unit_id`) REFERENCES `units`(`id`) ON DELETE SET NULL
) ENGINE=InnoDB;

-- ============================================================
-- PRODUCT VARIANTS
-- ============================================================

DROP TABLE IF EXISTS `product_variants`; CREATE TABLE `product_variants` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `product_id` INT UNSIGNED NOT NULL,
    `name` VARCHAR(100) NOT NULL,
    `sku` VARCHAR(50) NOT NULL,
    `barcode` VARCHAR(50) NULL,
    `buying_price` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `selling_price` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `wholesale_price` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `image` VARCHAR(255) NULL,
    `is_active` TINYINT(1) NOT NULL DEFAULT 1,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_variants_sku` (`sku`),
    FOREIGN KEY (`product_id`) REFERENCES `products`(`id`) ON DELETE CASCADE
) ENGINE=InnoDB;

-- ============================================================
-- PRODUCT STOCK
-- ============================================================

DROP TABLE IF EXISTS `product_stocks`; CREATE TABLE `product_stocks` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `product_id` INT UNSIGNED NOT NULL,
    `variant_id` INT UNSIGNED NULL,
    `warehouse_id` INT UNSIGNED NOT NULL,
    `quantity` INT NOT NULL DEFAULT 0,
    `reserved_quantity` INT NOT NULL DEFAULT 0,
    `expiry_date` DATE NULL,
    `batch_number` VARCHAR(50) NULL,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_stock_product_warehouse` (`product_id`, `variant_id`, `warehouse_id`),
    KEY `idx_stock_warehouse` (`warehouse_id`),
    KEY `idx_stock_expiry` (`expiry_date`),
    FOREIGN KEY (`product_id`) REFERENCES `products`(`id`) ON DELETE CASCADE,
    FOREIGN KEY (`variant_id`) REFERENCES `product_variants`(`id`) ON DELETE CASCADE,
    FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses`(`id`) ON DELETE CASCADE
) ENGINE=InnoDB;

-- ============================================================
-- STOCK MOVEMENTS
-- ============================================================

DROP TABLE IF EXISTS `stock_movements`; CREATE TABLE `stock_movements` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `product_id` INT UNSIGNED NOT NULL,
    `variant_id` INT UNSIGNED NULL,
    `warehouse_id` INT UNSIGNED NOT NULL,
    `type` ENUM('in','out','transfer','adjustment','sale','purchase','return') NOT NULL,
    `quantity` INT NOT NULL,
    `reference_type` VARCHAR(50) NULL,
    `reference_id` INT UNSIGNED NULL,
    `notes` TEXT NULL,
    `user_id` INT UNSIGNED NOT NULL,
    `created_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    KEY `idx_movement_product` (`product_id`),
    KEY `idx_movement_warehouse` (`warehouse_id`),
    KEY `idx_movement_type` (`type`),
    KEY `idx_movement_reference` (`reference_type`, `reference_id`),
    KEY `idx_movement_created` (`created_at`),
    FOREIGN KEY (`product_id`) REFERENCES `products`(`id`) ON DELETE CASCADE,
    FOREIGN KEY (`variant_id`) REFERENCES `product_variants`(`id`) ON DELETE CASCADE,
    FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses`(`id`) ON DELETE CASCADE,
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`)
) ENGINE=InnoDB;

-- ============================================================
-- CUSTOMERS
-- ============================================================

DROP TABLE IF EXISTS `customers`; CREATE TABLE `customers` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `first_name` VARCHAR(50) NOT NULL,
    `last_name` VARCHAR(50) NOT NULL,
    `email` VARCHAR(100) NULL,
    `phone` VARCHAR(20) NULL,
    `address` TEXT NULL,
    `city` VARCHAR(100) NULL,
    `state` VARCHAR(100) NULL,
    `country` VARCHAR(100) NULL DEFAULT 'Nigeria',
    `tax_number` VARCHAR(50) NULL,
    `credit_limit` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `outstanding_balance` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `reward_points` INT NOT NULL DEFAULT 0,
    `notes` TEXT NULL,
    `is_active` TINYINT(1) NOT NULL DEFAULT 1,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    `deleted_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    KEY `idx_customers_email` (`email`),
    KEY `idx_customers_phone` (`phone`),
    KEY `idx_customers_deleted` (`deleted_at`)
) ENGINE=InnoDB;

-- ============================================================
-- CUSTOMER WALLET
-- ============================================================

DROP TABLE IF EXISTS `customer_wallets`; CREATE TABLE `customer_wallets` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `customer_id` INT UNSIGNED NOT NULL,
    `balance` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_wallet_customer` (`customer_id`),
    FOREIGN KEY (`customer_id`) REFERENCES `customers`(`id`) ON DELETE CASCADE
) ENGINE=InnoDB;

DROP TABLE IF EXISTS `customer_wallet_transactions`; CREATE TABLE `customer_wallet_transactions` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `wallet_id` INT UNSIGNED NOT NULL,
    `type` ENUM('credit','debit') NOT NULL,
    `amount` DECIMAL(12,2) NOT NULL,
    `balance_after` DECIMAL(12,2) NOT NULL,
    `description` VARCHAR(255) NULL,
    `reference_type` VARCHAR(50) NULL,
    `reference_id` INT UNSIGNED NULL,
    `user_id` INT UNSIGNED NOT NULL,
    `created_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    FOREIGN KEY (`wallet_id`) REFERENCES `customer_wallets`(`id`) ON DELETE CASCADE,
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`)
) ENGINE=InnoDB;

-- ============================================================
-- SUPPLIERS
-- ============================================================

DROP TABLE IF EXISTS `suppliers`; CREATE TABLE `suppliers` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(100) NOT NULL,
    `contact_person` VARCHAR(100) NULL,
    `email` VARCHAR(100) NULL,
    `phone` VARCHAR(20) NULL,
    `address` TEXT NULL,
    `city` VARCHAR(100) NULL,
    `state` VARCHAR(100) NULL,
    `country` VARCHAR(100) NULL DEFAULT 'Nigeria',
    `tax_number` VARCHAR(50) NULL,
    `bank_name` VARCHAR(100) NULL,
    `bank_account_number` VARCHAR(50) NULL,
    `bank_account_name` VARCHAR(100) NULL,
    `outstanding_balance` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `notes` TEXT NULL,
    `is_active` TINYINT(1) NOT NULL DEFAULT 1,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    `deleted_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    KEY `idx_suppliers_deleted` (`deleted_at`)
) ENGINE=InnoDB;

-- ============================================================
-- PURCHASES
-- ============================================================

DROP TABLE IF EXISTS `purchases`; CREATE TABLE `purchases` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `reference_number` VARCHAR(50) NOT NULL,
    `supplier_id` INT UNSIGNED NOT NULL,
    `warehouse_id` INT UNSIGNED NOT NULL,
    `user_id` INT UNSIGNED NOT NULL,
    `branch_id` INT UNSIGNED NOT NULL,
    `status` ENUM('pending','received','partial','cancelled') NOT NULL DEFAULT 'pending',
    `subtotal` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `discount_amount` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `tax_amount` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `shipping_cost` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `total` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `paid_amount` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `due_amount` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `payment_status` ENUM('unpaid','partial','paid') NOT NULL DEFAULT 'unpaid',
    `order_date` DATE NOT NULL,
    `expected_date` DATE NULL,
    `received_date` DATE NULL,
    `notes` TEXT NULL,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    `deleted_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_purchases_ref` (`reference_number`),
    KEY `idx_purchases_supplier` (`supplier_id`),
    KEY `idx_purchases_status` (`status`),
    KEY `idx_purchases_date` (`order_date`),
    FOREIGN KEY (`supplier_id`) REFERENCES `suppliers`(`id`),
    FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses`(`id`),
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`),
    FOREIGN KEY (`branch_id`) REFERENCES `branches`(`id`)
) ENGINE=InnoDB;

DROP TABLE IF EXISTS `purchase_items`; CREATE TABLE `purchase_items` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `purchase_id` INT UNSIGNED NOT NULL,
    `product_id` INT UNSIGNED NOT NULL,
    `variant_id` INT UNSIGNED NULL,
    `quantity` INT NOT NULL,
    `received_quantity` INT NOT NULL DEFAULT 0,
    `unit_cost` DECIMAL(12,2) NOT NULL,
    `discount` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `tax_rate` DECIMAL(5,2) NOT NULL DEFAULT 0.00,
    `tax_amount` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `total` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `created_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    FOREIGN KEY (`purchase_id`) REFERENCES `purchases`(`id`) ON DELETE CASCADE,
    FOREIGN KEY (`product_id`) REFERENCES `products`(`id`),
    FOREIGN KEY (`variant_id`) REFERENCES `product_variants`(`id`)
) ENGINE=InnoDB;

DROP TABLE IF EXISTS `purchase_payments`; CREATE TABLE `purchase_payments` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `purchase_id` INT UNSIGNED NOT NULL,
    `amount` DECIMAL(12,2) NOT NULL,
    `payment_method` ENUM('cash','transfer','card','cheque') NOT NULL DEFAULT 'cash',
    `reference` VARCHAR(100) NULL,
    `notes` TEXT NULL,
    `payment_date` DATE NOT NULL,
    `user_id` INT UNSIGNED NOT NULL,
    `created_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    FOREIGN KEY (`purchase_id`) REFERENCES `purchases`(`id`) ON DELETE CASCADE,
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`)
) ENGINE=InnoDB;

-- ============================================================
-- SALES
-- ============================================================

DROP TABLE IF EXISTS `sales`; CREATE TABLE `sales` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `invoice_number` VARCHAR(50) NOT NULL,
    `customer_id` INT UNSIGNED NULL,
    `user_id` INT UNSIGNED NOT NULL,
    `branch_id` INT UNSIGNED NOT NULL,
    `warehouse_id` INT UNSIGNED NOT NULL,
    `subtotal` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `discount_amount` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `tax_amount` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `shipping_cost` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `total` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `paid_amount` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `due_amount` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `payment_status` ENUM('paid','partial','unpaid','refunded') NOT NULL DEFAULT 'paid',
    `sale_status` ENUM('completed','held','voided','returned') NOT NULL DEFAULT 'completed',
    `payment_method` ENUM('cash','card','transfer','wallet','mixed') NOT NULL DEFAULT 'cash',
    `coupon_code` VARCHAR(50) NULL,
    `discount_type` ENUM('percentage','fixed') NULL,
    `notes` TEXT NULL,
    `sale_date` DATE NOT NULL,
    `sale_time` TIME NOT NULL,
    `hold_reference` VARCHAR(50) NULL,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_sales_invoice` (`invoice_number`),
    KEY `idx_sales_customer` (`customer_id`),
    KEY `idx_sales_user` (`user_id`),
    KEY `idx_sales_date` (`sale_date`),
    KEY `idx_sales_status` (`sale_status`),
    KEY `idx_sales_payment` (`payment_status`),
    FOREIGN KEY (`customer_id`) REFERENCES `customers`(`id`) ON DELETE SET NULL,
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`),
    FOREIGN KEY (`branch_id`) REFERENCES `branches`(`id`),
    FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses`(`id`)
) ENGINE=InnoDB;

DROP TABLE IF EXISTS `sale_items`; CREATE TABLE `sale_items` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `sale_id` INT UNSIGNED NOT NULL,
    `product_id` INT UNSIGNED NOT NULL,
    `variant_id` INT UNSIGNED NULL,
    `quantity` INT NOT NULL,
    `unit_price` DECIMAL(12,2) NOT NULL,
    `discount` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `tax_rate` DECIMAL(5,2) NOT NULL DEFAULT 0.00,
    `tax_amount` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `subtotal` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `total` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `created_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    FOREIGN KEY (`sale_id`) REFERENCES `sales`(`id`) ON DELETE CASCADE,
    FOREIGN KEY (`product_id`) REFERENCES `products`(`id`),
    FOREIGN KEY (`variant_id`) REFERENCES `product_variants`(`id`)
) ENGINE=InnoDB;

DROP TABLE IF EXISTS `sale_payments`; CREATE TABLE `sale_payments` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `sale_id` INT UNSIGNED NOT NULL,
    `amount` DECIMAL(12,2) NOT NULL,
    `payment_method` ENUM('cash','card','transfer','wallet','gift_card') NOT NULL,
    `reference` VARCHAR(100) NULL,
    `card_last_four` VARCHAR(4) NULL,
    `notes` TEXT NULL,
    `payment_date` DATE NOT NULL,
    `user_id` INT UNSIGNED NOT NULL,
    `created_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    FOREIGN KEY (`sale_id`) REFERENCES `sales`(`id`) ON DELETE CASCADE,
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`)
) ENGINE=InnoDB;

-- ============================================================
-- SALES RETURNS & REFUNDS
-- ============================================================

DROP TABLE IF EXISTS `sale_returns`; CREATE TABLE `sale_returns` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `return_number` VARCHAR(50) NOT NULL,
    `sale_id` INT UNSIGNED NOT NULL,
    `customer_id` INT UNSIGNED NULL,
    `user_id` INT UNSIGNED NOT NULL,
    `warehouse_id` INT UNSIGNED NOT NULL,
    `refund_method` ENUM('cash','transfer','wallet','credit','exchange') NOT NULL DEFAULT 'cash',
    `refund_amount` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `reason` TEXT NULL,
    `status` ENUM('pending','approved','completed','rejected') NOT NULL DEFAULT 'pending',
    `return_date` DATE NOT NULL,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_returns_number` (`return_number`),
    FOREIGN KEY (`sale_id`) REFERENCES `sales`(`id`),
    FOREIGN KEY (`customer_id`) REFERENCES `customers`(`id`) ON DELETE SET NULL,
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`),
    FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses`(`id`)
) ENGINE=InnoDB;

DROP TABLE IF EXISTS `return_items`; CREATE TABLE `return_items` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `return_id` INT UNSIGNED NOT NULL,
    `sale_item_id` INT UNSIGNED NOT NULL,
    `product_id` INT UNSIGNED NOT NULL,
    `quantity` INT NOT NULL,
    `unit_price` DECIMAL(12,2) NOT NULL,
    `subtotal` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `reason` TEXT NULL,
    `created_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    FOREIGN KEY (`return_id`) REFERENCES `sale_returns`(`id`) ON DELETE CASCADE,
    FOREIGN KEY (`sale_item_id`) REFERENCES `sale_items`(`id`),
    FOREIGN KEY (`product_id`) REFERENCES `products`(`id`)
) ENGINE=InnoDB;

-- ============================================================
-- EXPENSES
-- ============================================================

DROP TABLE IF EXISTS `expense_categories`; CREATE TABLE `expense_categories` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(100) NOT NULL,
    `description` TEXT NULL,
    `is_active` TINYINT(1) NOT NULL DEFAULT 1,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`)
) ENGINE=InnoDB;

DROP TABLE IF EXISTS `expenses`; CREATE TABLE `expenses` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `reference_number` VARCHAR(50) NOT NULL,
    `expense_category_id` INT UNSIGNED NOT NULL,
    `branch_id` INT UNSIGNED NOT NULL,
    `amount` DECIMAL(12,2) NOT NULL,
    `payment_method` ENUM('cash','transfer','card','cheque') NOT NULL DEFAULT 'cash',
    `expense_date` DATE NOT NULL,
    `description` TEXT NULL,
    `receipt_file` VARCHAR(255) NULL,
    `user_id` INT UNSIGNED NOT NULL,
    `is_recurring` TINYINT(1) NOT NULL DEFAULT 0,
    `recurring_frequency` ENUM('daily','weekly','monthly','yearly') NULL,
    `status` ENUM('pending','approved','rejected') NOT NULL DEFAULT 'approved',
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    `deleted_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_expenses_ref` (`reference_number`),
    FOREIGN KEY (`expense_category_id`) REFERENCES `expense_categories`(`id`),
    FOREIGN KEY (`branch_id`) REFERENCES `branches`(`id`),
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`),
    KEY `idx_expenses_date` (`expense_date`)
) ENGINE=InnoDB;

-- ============================================================
-- COUPONS & GIFT CARDS
-- ============================================================

DROP TABLE IF EXISTS `coupons`; CREATE TABLE `coupons` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `code` VARCHAR(50) NOT NULL,
    `type` ENUM('percentage','fixed') NOT NULL DEFAULT 'percentage',
    `value` DECIMAL(12,2) NOT NULL,
    `minimum_purchase` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `maximum_discount` DECIMAL(12,2) NULL,
    `usage_limit` INT NULL,
    `used_count` INT NOT NULL DEFAULT 0,
    `start_date` DATE NULL,
    `end_date` DATE NULL,
    `is_active` TINYINT(1) NOT NULL DEFAULT 1,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_coupons_code` (`code`)
) ENGINE=InnoDB;

DROP TABLE IF EXISTS `gift_cards`; CREATE TABLE `gift_cards` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `code` VARCHAR(50) NOT NULL,
    `balance` DECIMAL(12,2) NOT NULL,
    `initial_amount` DECIMAL(12,2) NOT NULL,
    `customer_id` INT UNSIGNED NULL,
    `is_active` TINYINT(1) NOT NULL DEFAULT 1,
    `expiry_date` DATE NULL,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_gift_cards_code` (`code`),
    FOREIGN KEY (`customer_id`) REFERENCES `customers`(`id`) ON DELETE SET NULL
) ENGINE=InnoDB;

-- ============================================================
-- LOYALTY / REWARD POINTS
-- ============================================================

DROP TABLE IF EXISTS `reward_transactions`; CREATE TABLE `reward_transactions` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `customer_id` INT UNSIGNED NOT NULL,
    `type` ENUM('earned','redeemed','adjusted') NOT NULL,
    `points` INT NOT NULL,
    `reference_type` VARCHAR(50) NULL,
    `reference_id` INT UNSIGNED NULL,
    `description` VARCHAR(255) NULL,
    `created_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    FOREIGN KEY (`customer_id`) REFERENCES `customers`(`id`) ON DELETE CASCADE
) ENGINE=InnoDB;

-- ============================================================
-- SHIFTS & CASH DRAWERS
-- ============================================================

DROP TABLE IF EXISTS `shifts`; CREATE TABLE `shifts` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` INT UNSIGNED NOT NULL,
    `branch_id` INT UNSIGNED NOT NULL,
    `opening_balance` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `closing_balance` DECIMAL(12,2) NULL,
    `expected_balance` DECIMAL(12,2) NULL,
    `difference` DECIMAL(12,2) NULL,
    `total_sales` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `total_returns` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `total_expenses` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `status` ENUM('open','closed') NOT NULL DEFAULT 'open',
    `opened_at` DATETIME NOT NULL,
    `closed_at` DATETIME NULL,
    `notes` TEXT NULL,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`),
    FOREIGN KEY (`branch_id`) REFERENCES `branches`(`id`)
) ENGINE=InnoDB;

-- ============================================================
-- ATTENDANCE & PAYROLL
-- ============================================================

DROP TABLE IF EXISTS `attendance`; CREATE TABLE `attendance` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` INT UNSIGNED NOT NULL,
    `date` DATE NOT NULL,
    `check_in` DATETIME NULL,
    `check_out` DATETIME NULL,
    `hours_worked` DECIMAL(5,2) NULL,
    `overtime_hours` DECIMAL(5,2) NOT NULL DEFAULT 0.00,
    `status` ENUM('present','absent','late','half_day','on_leave') NOT NULL DEFAULT 'present',
    `notes` TEXT NULL,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_attendance_user_date` (`user_id`, `date`),
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`) ON DELETE CASCADE
) ENGINE=InnoDB;

DROP TABLE IF EXISTS `payroll`; CREATE TABLE `payroll` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` INT UNSIGNED NOT NULL,
    `period_start` DATE NOT NULL,
    `period_end` DATE NOT NULL,
    `basic_salary` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `overtime_pay` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `bonus` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `deductions` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `tax` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `net_salary` DECIMAL(12,2) NOT NULL DEFAULT 0.00,
    `payment_method` ENUM('cash','transfer') NOT NULL DEFAULT 'transfer',
    `status` ENUM('pending','paid','cancelled') NOT NULL DEFAULT 'pending',
    `paid_date` DATE NULL,
    `notes` TEXT NULL,
    `user_id_creator` INT UNSIGNED NOT NULL,
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`),
    FOREIGN KEY (`user_id_creator`) REFERENCES `users`(`id`),
    KEY `idx_payroll_period` (`period_start`, `period_end`)
) ENGINE=InnoDB;

-- ============================================================
-- NOTIFICATIONS
-- ============================================================

DROP TABLE IF EXISTS `notifications`; CREATE TABLE `notifications` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` INT UNSIGNED NULL,
    `title` VARCHAR(200) NOT NULL,
    `message` TEXT NOT NULL,
    `type` ENUM('info','success','warning','danger') NOT NULL DEFAULT 'info',
    `module` VARCHAR(50) NULL,
    `reference_type` VARCHAR(50) NULL,
    `reference_id` INT UNSIGNED NULL,
    `is_read` TINYINT(1) NOT NULL DEFAULT 0,
    `read_at` DATETIME NULL,
    `created_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    KEY `idx_notifications_user` (`user_id`),
    KEY `idx_notifications_read` (`is_read`),
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`) ON DELETE CASCADE
) ENGINE=InnoDB;

-- ============================================================
-- ACTIVITY LOGS
-- ============================================================

DROP TABLE IF EXISTS `activity_logs`; CREATE TABLE `activity_logs` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` INT UNSIGNED NULL,
    `action` VARCHAR(50) NOT NULL,
    `module` VARCHAR(50) NOT NULL,
    `description` TEXT NULL,
    `old_values` JSON NULL,
    `new_values` JSON NULL,
    `ip_address` VARCHAR(45) NULL,
    `user_agent` VARCHAR(255) NULL,
    `created_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    KEY `idx_activity_user` (`user_id`),
    KEY `idx_activity_module` (`module`),
    KEY `idx_activity_action` (`action`),
    KEY `idx_activity_created` (`created_at`),
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`) ON DELETE SET NULL
) ENGINE=InnoDB;

-- ============================================================
-- SETTINGS
-- ============================================================

DROP TABLE IF EXISTS `company`; CREATE TABLE `company` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(200) NOT NULL DEFAULT 'SmugFlex Store',
    `slug` VARCHAR(200) NULL,
    `email` VARCHAR(100) NULL,
    `phone` VARCHAR(20) NULL,
    `address` TEXT NULL,
    `city` VARCHAR(100) NULL,
    `state` VARCHAR(100) NULL,
    `country` VARCHAR(100) NULL DEFAULT 'Nigeria',
    `logo` VARCHAR(255) NULL,
    `tax_number` VARCHAR(50) NULL,
    `registration_number` VARCHAR(50) NULL,
    `website` VARCHAR(200) NULL,
    `currency` VARCHAR(10) NOT NULL DEFAULT 'NGN',
    `currency_symbol` VARCHAR(10) NOT NULL DEFAULT 'NGN',
    `tax_rate` DECIMAL(5,2) NOT NULL DEFAULT 0.00,
    `receipt_header` TEXT NULL,
    `receipt_footer` TEXT NULL,
    `timezone` VARCHAR(50) NOT NULL DEFAULT 'Africa/Lagos',
    `date_format` VARCHAR(20) NOT NULL DEFAULT 'd/m/Y',
    `time_format` VARCHAR(20) NOT NULL DEFAULT '12',
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`)
) ENGINE=InnoDB;

DROP TABLE IF EXISTS `settings`; CREATE TABLE `settings` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `group_name` VARCHAR(50) NOT NULL DEFAULT 'general',
    `setting_key` VARCHAR(100) NOT NULL,
    `setting_value` TEXT NULL,
    `type` ENUM('text','number','boolean','json','file') NOT NULL DEFAULT 'text',
    `created_at` DATETIME NULL,
    `updated_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_settings_key` (`setting_key`),
    KEY `idx_settings_group` (`group_name`)
) ENGINE=InnoDB;

-- ============================================================
-- BACKUPS LOG
-- ============================================================

DROP TABLE IF EXISTS `backups`; CREATE TABLE `backups` (
    `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
    `filename` VARCHAR(255) NOT NULL,
    `size` INT UNSIGNED NOT NULL DEFAULT 0,
    `user_id` INT UNSIGNED NOT NULL,
    `status` ENUM('completed','failed') NOT NULL DEFAULT 'completed',
    `created_at` DATETIME NULL,
    PRIMARY KEY (`id`),
    FOREIGN KEY (`user_id`) REFERENCES `users`(`id`)
) ENGINE=InnoDB;

-- ============================================================
-- TRIGGERS
-- ============================================================

DELIMITER //

CREATE TRIGGER `trg_stock_after_insert` AFTER INSERT ON `stock_movements`
FOR EACH ROW
BEGIN
    INSERT INTO `product_stocks` (`product_id`, `variant_id`, `warehouse_id`, `quantity`, `created_at`)
    VALUES (NEW.product_id, NEW.variant_id, NEW.warehouse_id, IF(NEW.type IN ('in','purchase','return'), NEW.quantity, -NEW.quantity), NOW())
    ON DUPLICATE KEY UPDATE
        `quantity` = `quantity` + IF(NEW.type IN ('in','purchase','return'), NEW.quantity, -NEW.quantity),
        `updated_at` = NOW();
END//

DELIMITER ;

-- ============================================================
-- SEED DATA
-- ============================================================



-- Assign all permissions to Super Admin
INSERT INTO `role_permissions` (`role_id`, `permission_id`, `created_at`)
SELECT 1, id, NOW() FROM `permissions`;

-- Assign broad permissions to Admin (all except backup & payroll)
INSERT INTO `role_permissions` (`role_id`, `permission_id`, `created_at`)
SELECT 2, id, NOW() FROM `permissions` WHERE slug NOT IN ('settings.backup', 'employees.payroll', 'users.roles');

-- Assign manager permissions
INSERT INTO `role_permissions` (`role_id`, `permission_id`, `created_at`)
SELECT 3, id, NOW() FROM `permissions` WHERE slug IN (
    'dashboard.view', 'products.view', 'products.create', 'products.edit',
    'categories.view', 'categories.manage', 'brands.view', 'brands.manage',
    'units.view', 'units.manage', 'pos.access', 'pos.hold', 'pos.discount', 'pos.return',
    'sales.view', 'sales.create', 'purchases.view', 'purchases.create', 'purchases.receive',
    'customers.view', 'customers.create', 'customers.edit', 'customers.wallet',
    'suppliers.view', 'suppliers.create', 'suppliers.edit',
    'inventory.view', 'inventory.adjust', 'inventory.transfer',
    'expenses.view', 'expenses.create',
    'reports.view', 'reports.export',
    'employees.view', 'employees.attendance'
);

-- Assign cashier permissions
INSERT INTO `role_permissions` (`role_id`, `permission_id`, `created_at`)
SELECT 4, id, NOW() FROM `permissions` WHERE slug IN (
    'dashboard.view', 'pos.access', 'pos.hold', 'pos.discount', 'pos.return',
    'sales.view', 'sales.create',
    'customers.view', 'customers.create',
    'products.view', 'inventory.view', 'notifications.view'
);

-- Insert default branch and warehouse
INSERT INTO `branches` (`name`, `code`, `address`, `city`, `country`, `created_at`, `updated_at`) VALUES
('Main Branch', 'MB001', '123 SmugFlex Avenue', 'Lagos', 'Nigeria', NOW(), NOW()),
('Branch 2', 'BR002', '456 Commerce Street', 'Abuja', 'Nigeria', NOW(), NOW());

INSERT INTO `warehouses` (`name`, `code`, `branch_id`, `address`, `created_at`, `updated_at`) VALUES
('Main Warehouse', 'WH001', 1, '123 SmugFlex Avenue, Lagos', NOW(), NOW()),
('Branch 2 Warehouse', 'WH002', 2, '456 Commerce Street, Abuja', NOW(), NOW());

-- Insert Super Admin user (password: password)
INSERT INTO `users` (`first_name`, `last_name`, `email`, `password`, `role_id`, `branch_id`, `warehouse_id`, `is_active`, `created_at`, `updated_at`) VALUES
('Super', 'Admin', 'admin@smugflex.com', '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', 1, 1, 1, 1, NOW(), NOW()),
('John', 'Cashier', 'cashier@smugflex.com', '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', 4, 1, 1, 1, NOW(), NOW());

-- Insert default company
INSERT INTO `company` (`name`, `email`, `phone`, `address`, `city`, `country`, `currency`, `currency_symbol`, `tax_rate`, `timezone`, `created_at`, `updated_at`) VALUES
('SmugFlex Ventures', 'info@smugflex.com', '+234 800 123 4567', '123 SmugFlex Avenue', 'Lagos', 'Nigeria', 'NGN', 'NGN', 7.50, 'Africa/Lagos', NOW(), NOW());

-- Insert default expense categories
INSERT INTO `expense_categories` (`name`, `description`, `created_at`) VALUES
('Rent', 'Office and store rent', NOW()),
('Utilities', 'Electricity, water, internet', NOW()),
('Salaries', 'Employee salaries', NOW()),
('Transportation', 'Fuel, logistics, delivery', NOW()),
('Marketing', 'Advertising and promotions', NOW()),
('Maintenance', 'Equipment and facility maintenance', NOW()),
('Office Supplies', 'Stationery and office items', NOW()),
('Miscellaneous', 'Other expenses', NOW());

-- Insert default units
INSERT INTO `units` (`name`, `short_name`, `created_at`) VALUES
('Piece', 'pc', NOW()),
('Kilogram', 'kg', NOW()),
('Gram', 'g', NOW()),
('Liter', 'L', NOW()),
('Milliliter', 'mL', NOW()),
('Box', 'box', NOW()),
('Pack', 'pk', NOW()),
('Dozen', 'dz', NOW()),
('Carton', 'ctn', NOW()),
('Meter', 'm', NOW()),
('Pair', 'pr', NOW()),
('Set', 'set', NOW());

-- Insert sample categories

-- Insert sample brands
INSERT INTO `brands` (`name`, `slug`, `created_at`, `updated_at`) VALUES
('Samsung', 'samsung', NOW(), NOW()),
('Apple', 'apple', NOW(), NOW()),
('Nike', 'nike', NOW(), NOW()),
('Adidas', 'adidas', NOW(), NOW()),
('LG', 'lg', NOW(), NOW()),
('Sony', 'sony', NOW(), NOW()),
('Infinix', 'infinix', NOW(), NOW()),
('Tecno', 'tecno', NOW(), NOW());

-- Insert sample products

-- Initialize stock for products
INSERT INTO `product_stocks` (`product_id`, `warehouse_id`, `quantity`, `created_at`, `updated_at`) VALUES
(1, 1, 25, NOW(), NOW()),
(2, 1, 15, NOW(), NOW()),
(3, 1, 30, NOW(), NOW()),
(4, 1, 20, NOW(), NOW()),
(5, 1, 8, NOW(), NOW()),
(6, 1, 35, NOW(), NOW()),
(7, 1, 12, NOW(), NOW()),
(8, 1, 18, NOW(), NOW());

-- Insert sample customers

-- Initialize customer wallets
INSERT INTO `customer_wallets` (`customer_id`, `balance`, `created_at`, `updated_at`) VALUES
(1, 15000.00, NOW(), NOW()),
(2, 8500.00, NOW(), NOW()),
(3, 22000.00, NOW(), NOW()),
(4, 3000.00, NOW(), NOW()),
(5, 12000.00, NOW(), NOW());

-- Insert sample suppliers
INSERT INTO `suppliers` (`name`, `contact_person`, `email`, `phone`, `address`, `city`, `outstanding_balance`, `created_at`, `updated_at`) VALUES
('Tech Distributors Nigeria', 'Ibrahim Musa', 'ibrahim@techdist.ng', '+234 810 111 2222', '10 Computer Village', 'Lagos', 0.00, NOW(), NOW()),
('Fashion Hub Wholesale', 'Grace Eze', 'grace@fashionhub.ng', '+234 811 333 4444', '25 Balogun Market', 'Lagos', 0.00, NOW(), NOW()),
('Global Electronics Ltd', 'Mohammed Ali', 'mohammed@globalelec.ng', '+234 812 555 6666', '5 Industrial Layout', 'Abuja', 0.00, NOW(), NOW());

-- Insert default settings

SET FOREIGN_KEY_CHECKS = 1;
COMMIT;
